#signIn {
  min-height: 100vh;
  background: #343a40;
  .container {
    .form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      input {
        padding: 20px 15px;
        background: transparent;
        color: wheat;
      }
    }
  }
}

.alert {
  color: #d88787;
  font-family: cursive;
  font-size: 18px;
  font-style: italic;
}
